.left {
    background-color: burlywood;
    height: 788px;
           
 }

 a {
    text-decoration: none;
    color:rgba(97, 42, 10, 0.75)
 }

 a:hover {
    font-weight: 20px;
    color: rgb(82, 18, 18);
    
 }

 .middle {
    background-color: bisque;
    height: 788px;
 }
 .col-md-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    box-shadow: 5px 3px 3px 0px rgba(138, 135, 139, 0.75);

 }

 .row.col-md-3.left {
    display: flex;
    align-items: center;
 }

 .compose {
    width: 150px;
    border: 1px solid white;
    border-radius: 3px;
 }

.compose:hover {
    background-color: rgb(228, 192, 168);
    border: 1px solid rgb(228, 192, 168);
}
.email-box {
    height: 85px;
    width: 280px;
    box-shadow: 3px 3px 3px 0px rgba(78, 76, 80, 0.75);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 14px;
    border: 1px solid whitesmoke;
    margin:10px 10px 10px 10px;
   }

.email-box:hover {
    box-shadow: 4px 4px 4px 2px rgba(91, 82, 100, 0.75);
}

.col-md-6 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}

input {
    width: 650px;
    height: 250px;
}
 
form > input > button {
    border-radius: 3px;
    display: flex;
    justify-content: flex-end
    
}